.experience-text{
    font-size: 1.25em;
    font-family: monospace;
    color: #00FFD1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    .base-term{
        color: #14FF00;
    }
    .state-ref{
        color: #ffffff;
    }
}
.exp-container{
    background-color: #000000;
    width: 100%;
    height: fit-content;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'Anton', sans-serif;
    padding-right: 1.25%;
    padding-left: 1.25%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    h1{
        text-align: left;
    }
    h1::after {
        display: inline-block;
        content: "";
        border-top: .3rem solid white;
        width: 75%;
        margin: 0 1rem;
        transform: translateY(-1rem);
    }
    .ls-exp{
        list-style: none;
        li{
            opacity: 0;
            animation: fadeinFull 250ms ease-in-out forwards 150ms; 
        }
        li::before{
            content: '▶ ';
    }
}}